.text--overlay {
    transform: translate(0, -400%);
  }

.text--overlay h1 {
    color: rgba(255, 255, 255, 0.566);
}

.card--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card--description{
    text-align: center;
}