.text--overlay {
    transform: translate(0, -400%);
  }



.card--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card--description{
    text-align: center;
}